html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.resolucion {
    width: 140px;
    height: 70px;
    margin-top: 10px;
    margin-left: 40px;
}

@media only screen and (max-width: 760px) {
    .resolucion {
        width: 80%;
    }

    ul {
        flex-direction: column;
        justify-content: center;
    }

    .footer {
        display: flex;
        align-items: end;
        bottom: 0px;
    }
}

#seleccion {
    color: aliceblue;
    background-color: #dc3545;
}

.resolucion1 {
    width: 50px;
    height: 40px;
    margin: 10px;

}

main {
    position: relative;
    margin-bottom: auto;
}

.color {
    color: #dc3545;
}

.size1 {
    height: auto;
    width: auto;
}

.input input{
    margin-top: 40px;
    margin-left: 20px 
}

.input label{
    margin-top: 35px;
}

.size1 input {
    width: 500px;
    height: 30px;
    outline: none;
    border: 2px #dc3545 solid;
    margin-top: 30px;
}

.size1 button {
    height: 30px;
    margin-top: 40px;
    position: relative;
    margin-top: 30px;
}

svg {
    position: relative;
    bottom: 5px;
}

.content {
    display: flex;
}

#hover {
    --bs-btn-hover-bg: #141619;
    --bs-btn-border-color: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
    --bs-btn-active-border-color: #dc3545;

}

/*       ********Details***********                   */
figure{
    margin: 0;
}
.card-details{
    display: flex;
    width: 100%;
    height: 500px;
    margin: 20px;
    overflow: hidden;
    background: #ffff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    margin-left: 20px;
    margin-right: 20px;
}

.card-details img {
    width: 100%;
    height: 100%;
}

.card-details .contenido-details {
    padding: 15px;
    text-align: center;

}
.parrafo{
    margin-bottom: 2.5rem;
    margin-left: 15px;
    font-weight: 500;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .card-details{
        display: flex;
        flex-wrap: wrap;
    }
    #h3{text-align: left;}
}


.card-details .contenido-details p {
    line-height: 1.5;
    color: #6a6a6a;
}

.card-details .contenido-details h3 {
    font-weight: 400;
    margin-bottom: 15px;

}

.contenido-details{
    position: relative;
}
#h3{
    box-sizing: content-box;
    position: relative;
    text-align: center;
}
.card-details .contenido-details h6 {
    display: inline-block;
    margin-right: 20px;
}

.card-details .contenido-details a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #dc3545;
    border: 1px solid #dc3545;
    box-shadow: -7px -6px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;

}

.card-details .contenido-details a:hover {
    background: #dc3545;
    color: aliceblue;
}

.container2 {
    display: flex;
    min-height: 50vh;
}











/* Home - Upevents - past events*/
@media screen and (min-width: 320px) and (max-width: 768px) {
    body{
        position: relative;
        margin-bottom: 40px;
        min-height: 100vh;
    }

    .content{
        flex-wrap: wrap;
    }

    .card{
        padding: 0%;
        width: 70%;
    }
    .size1 input {
        width: 194px;
        height: 30px;
        outline: none;
        border: 2px #dc3545 solid;}
    
    nav{
        display: flex;
        flex-wrap: wrap;  
    }
     .size1{
        width: 320px;
        height: 30px;
     }
    footer{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .container2{
        position: relative;
        top: 0;
    }
    form .form{
        margin: 5px auto;
        position: relative;
    }
   }


.contenedor {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}  

.card {
    width: 450px;
    margin: 20px;
    overflow: hidden;
    background: #ffff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    margin-left: 20px;
    margin-right: 20px;

}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
}

.card .contenido {
    padding: 15px;
    text-align: center;

}

.card .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.card .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido h6 {
    display: inline-block;
    margin-right: 20px;
}

.card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #dc3545;
    border: 1px solid #dc3545;
    box-shadow: -7px -6px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;

}

.card .contenido a:hover {
    background: #dc3545;
    color: aliceblue;
}

.container2 {
    display: flex;
    min-height: 50vh;
}






/* ********CONTACT******** */
.form {
    background-color: #fff;
    margin: 60px auto 20px auto;
    height: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    box-shadow: -1px -10px 15px -1px rgb(0, 0, 0, 0.3);
    text-align: center;
}

.form_container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_group {
    position: relative;
    color: #5757577e
}

.form_input {
    width: 100%;
    background: none;
    color: #dc3545;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #5757577e;
}

.form_label {
    color: #5757577e;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_input:focus+.form_label,
.form_input:not(:placeholder-shown)+.form_label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
}

.form_submit {
    background: #dc3545;
    color: #ffff;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}





/***** Stats *********/
table {
    margin: 60px auto;
}

.th {
    border: 2px solid black;
    padding: 1rem;
    background: #dc3545;
    color: #fff;
}

.custom {
    border: 2px solid black;
    padding: 0 10px
}

.td {
    border: 2px solid black;
    padding: 12px 40px;
}

@media screen and (max-width: 720) {
    table {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
}